/*科e互联特效基本框架CSS*/
ul, ol, li {
	list-style-type: none;
	vertical-align: 0
}
.cor_bs,.cor_bs:hover {
	color: #ffffff;
}

.keBody {
	background: url(images/bodyBg.jpg) repeat #333;
}

.keTitle {
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	font-family: '微软雅黑';
	color: #FFF;
	text-align: center;
	background: url(images/bodyBg3.jpg) repeat-x bottom left;
	font-weight: normal
}

.kePublic {
	background: #FFF;
	padding: 10px;
	height: 390px;
}

.keBottom {
	color: #FFF;
	padding-top: 25px;
	line-height: 28px;
	text-align: center;
	font-family: '微软雅黑';
	background: url(images/bodyBg2.jpg) repeat-x top left;
	padding-bottom: 25px
}

.keTxtP {
	font-size: 16px;
	color: #ffffff;
}

.keUrl {
	color: #FFF;
	font-size: 30px;
}

.keUrl:hover {
	text-decoration: underline;
	color: #FFF;
}
/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/
/* 效果CSS开始 */
#CSSBox {
	float: left;
	width: 680px;
	height: 140px;
	border: 1px solid #630;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ffffff;
}

#CSSBox ul li {
	float: left;
	list-style: none;
	border: 0px solid red;
	margin: 10px 10px;
}

#CSSBox ul li span {
	display: block;
	text-align: center;
	font-size: 12px;
	padding-top: 12px;
}

#LeftButton {
	cursor: hand;
	margin: 5px;
	height: 140px;
	width: 20px;
	float: left;
	background: url('../images/left.gif') center center no-repeat;
}

#RightButton {
	cursor: hand;
	margin: 5px;
	height: 140px;
	width: 20px;
	float: left;
	background: url('../images/right.gif') center center no-repeat;
}

#wrapper {
	width: 585px;
	margin: 0 auto
}

#ProductShow {
	width: 305px;
	height: 245px;
	text-align: center;
	border: 1px solid #c0c0c0;
	margin: 5px;
}

#CSSBox2 {
	float: left;
	width: 380px;
	height: 140px;
	border: 1px solid #630;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ffffff;
	margin-top: 5px;
}

#CSSBox2 ul li {
	float: left;
	list-style: none;
	border: 0px solid red;
	margin: 10px 10px;
}

#CSSBox2 ul li span {
	display: block;
	text-align: center;
	font-size: 12px;
	padding-top: 12px;
}

#LeftButton2 {
	cursor: hand;
	margin: 5px;
	height: 140px;
	width: 20px;
	float: left;
	background: url('../images/left.gif') center center no-repeat;
}

#RightButton2 {
	cursor: hand;
	margin: 5px;
	height: 140px;
	width: 20px;
	float: left;
	background: url('../images/right.gif') center center no-repeat;
}

#wrapper2 {
	width: 585px;
	margin: 0 auto
}

#ProductShow2 {
	width: 305px;
	height: 245px;
	text-align: center;
	border: 1px solid #c0c0c0;
	margin: 5px;
}