<!DOCTYPE html>
<html lang="en"> 
<head>

    <meta charset="utf-8">
    <meta name="description" content="Modern Material Forms - Resposnive CSS3 HTML5 Form Framework">
    <meta name="keywords" content="material, material design, modern forms, material forms, css forms, css material forms, material checbox, material radio, material switches, material inputs, css switch, css radio, css checkbox " />  
    <meta name="author" content="Modern Material Forms">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 精美的纯css3 html5表单框架 </title>
    
    
    <!-- Demo Template stylsheets -->  
    <link rel="stylesheet" type="text/css" href="core/css/main.css">
    <link rel="stylesheet" type="text/css" href="core/css/font-awesome.min.css">
    <script type="text/javascript" src="core/js/vendor/modernizr-2.6.2.min.js"></script>
    
</head>

<body>

	<div id="menu">
        <div id="color-bars">
                <div id="bar-1" class="color-bar"></div>
                <div id="bar-2" class="color-bar"></div>
                <div id="bar-3" class="color-bar"></div>
                <div id="bar-4" class="color-bar"></div>
                <div id="bar-5" class="color-bar"></div>
                <div id="bar-6" class="color-bar"></div>
                <div id="bar-7" class="color-bar"></div>
                <div id="bar-8" class="color-bar"></div>
                <div id="bar-9" class="color-bar"></div>
                <div id="bar-10" class="color-bar"></div> 
        </div>    
		<div class="inner">
			<h1>精美的纯css3 html5表单框架</h1>
			 
		</div>
	</div><!-- end menu section -->
        
    <div class="full-wrapper demos" id="demos">
    	<div class="smart-grid">
        
            <div class="row tac">
                <!--<h1 class="main-heading ftr">Demos</h1>-->
            </div><!-- end .row section -->
            
            <div class="web-box">
            
            <div class="web-box-inner">
            <div class="subz">
                <h6 class="sub-heading">演示例子</h6>
            </div><!-- end .row section -->            
        
        	<div class="row">
            	<div class="col4 first">
					<div class="mx-wrapper">
                    	<ul>
                        	<li><a href="demos/ui-elements-theme-default.html" target="_blank">默认风格</a></li>
                            <li><a href="demos/ui-elements-theme-blue.html" target="_blank">蓝色风格 </a></li>
                        	<li><a href="demos/ui-elements-theme-green.html" target="_blank">绿色风格 </a></li>
                        	<li><a href="demos/ui-elements-theme-red.html" target="_blank">红色风格 </a></li>
                            <li><a href="demos/ui-elements-theme-orange.html" target="_blank">橙色风格 </a></li>
                        	<li><a href="demos/ui-elements-theme-indigo.html" target="_blank">靛蓝风格</a></li> 
                            <li><a href="demos/ui-elements-theme-pink.html" target="_blank">粉色风格 </a></li>                           
                        </ul>
                    </div><!-- .mx-wrapper -->               
                </div><!-- end .col4 section -->
                <div class="col4">
					<div class="mx-wrapper">
                    	<ul>
                        	<li><a href="demos/ui-elements-theme-purple.html" target="_blank">紫色风格</a></li>
                            <li><a href="demos/ui-elements-theme-yellow.html" target="_blank">黄色风格</a></li>
                        	<li><a href="demos/template-order.html" target="_blank">订单模板</a></li>
                            <li><a href="demos/template-checkout.html" target="_blank">确认模板</a></li>
                            <li><a href="demos/template-review.html" target="_blank">评价模板</a></li> 
                            <li><a href="demos/template-bank-account.html" target="_blank">创建账户 </a></li>
                            <li><a href="demos/template-comments.html" target="_blank">回复模板</a></li>                                  
                        </ul>
                    </div><!-- .mx-wrapper -->                
                </div><!-- end .col4 section -->
                <div class="col4 last">
					<div class="mx-wrapper">
                    	<ul>
                            <li><a href="demos/template-signup.html" target="_blank">注册模板</a></li>
                            <li><a href="demos/template-contact.html" target="_blank">联系模板 </a></li>
                        	<li><a href="demos/template-shadows.html" target="_blank">阴影模板 </a></li>
                            <li><a href="demos/ui-grid.html" target="_blank">网格表单</a></li>
                        	<li><a href="demos/ui-elements-state-error.html" target="_blank">错误状态</a></li>
                        	<li><a href="demos/ui-elements-state-success.html" target="_blank">成功状态</a></li>
                            <li><a href="demos/ui-elements-state-disabled.html" target="_blank">禁用状态</a></li>                                  
                        </ul>
                    </div><!-- .mx-wrapper -->                
                </div><!-- end .col4 section -->
            </div><!-- end .row  section -->
            </div>
         </div>                      
        </div><!-- end section -->
    </div><!-- end .full-wrapper .demos section -->

    <!-- Javascript Loaded -->
    <script src="core/js/vendor/jquery.min.js"></script>
    <script src="core/js/plugins.js"></script>       
    <script src="core/js/scripts.js"></script>
</body>
</html>
