<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Bank Account </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/modernforms.css">
    </head>

    <body class="mdn-bg">
        <div class="modern-forms">
        	<div class="modern-container mc1">
            	<form action="" method="" enctype="multipart/form-data">
                	<fieldset>
                        <legend>Branch Details</legend>
                        <div class="field-group">
                            <input type="text" class="mdn-input" placeholder="Enter branch details">
                            <label class="mdn-label">Name of Branch</label>
                            <span class="mdn-bar"></span>
                        </div>                        
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Personal Details </legend>
                        <div class="form-row">
                            <div class="col col-4">
                            	<div class="mdn-label-pos"><label class="mdn-label">Title</label></div>
                                <div class="mdn-group mdn-bottom-border">
                                    <label class="mdn-option">
                                        <input type="radio" name="title">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Mr. </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="title">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Mrs. </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="title">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Ms.</span>                                    
                                    </label>
                                </div><!-- mdn-group -->
                            </div><!-- end col-6 -->                                      
                            <div class="col col-8">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter full names">
                                    <label class="mdn-label">Full Name</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-7 --> 
                        </div><!-- end form-row --> 
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter your date of bith">
                                    <label class="mdn-label">Date of Birth</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group mdn-select">
                                    <select id="nationality" name="nationality">
                                        <option value="">Choose country</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Uganda">Uganda</option>
                                    </select>
                                    <label class="mdn-label">Nationality</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 --> 
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter email address">
                                    <label class="mdn-label">Email</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter mobile number">
                                    <label class="mdn-label">Mobile No.</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 --> 
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="In case you have any">
                                    <label class="mdn-label">Existing Bank Accounts</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                             
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter minor guardian details">
                                    <label class="mdn-label">Guardian (for minors only)</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter father or spouse name">
                                    <label class="mdn-label">Name of Father / Spouse </label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->                                                                         
                                           
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Residential Address </legend>
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter flat number or name">
                                    <label class="mdn-label">Flat No. BLDG Name</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter road number or name">
                                    <label class="mdn-label">Road No. / Name </label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-9">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter area and landmark">
                                    <label class="mdn-label">Area and Landmark</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-9 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter city">
                                    <label class="mdn-label">City </label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                         
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter home telephone">
                                    <label class="mdn-label">Home Telephone</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter office telephone">
                                    <label class="mdn-label">Office Telephone</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter fax">
                                    <label class="mdn-label">Fax</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter zip code">
                                    <label class="mdn-label">Zip Code</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                                      
                        </div><!-- end form-row -->                        
                                                
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Mailing Address </legend>
                        <div class="field-group">
                            <input type="text" class="mdn-input" placeholder="Enter company name and department">
                            <label class="mdn-label">Company Name and Department</label>
                            <span class="mdn-bar"></span>
                        </div>
                        
                        <div class="form-row">
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter road no. or name">
                                    <label class="mdn-label">Road No. / Name </label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter area and landmark">
                                    <label class="mdn-label">Area and Landmark</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter city">
                                    <label class="mdn-label">City</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter zip code">
                                    <label class="mdn-label">Zip Code</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                                      
                        </div><!-- end form-row --> 
                        
                        <div class="form-row">
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter home telephone">
                                    <label class="mdn-label">Home Telephone</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter office telephone">
                                    <label class="mdn-label">Office Telephone</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter fax">
                                    <label class="mdn-label">Fax</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                      
                            <div class="col col-3">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter email">
                                    <label class="mdn-label">Email</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-3 -->                                                      
                        </div><!-- end form-row --> 
                        
                        <div class="field-group">
                            <input type="text" class="mdn-input" placeholder="Enter post address">
                            <label class="mdn-label">Post address / Number </label>
                            <span class="mdn-bar"></span>
                        </div>                        
                                                                                                 
                    </fieldset>
                    	
                    <fieldset>
                    	<legend> Details of Introduction - Referee </legend>
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter referee (existing customer)">
                                    <label class="mdn-label">Customer Name</label>
                                    <span class="mdn-bar"></span>
                                    <span class="mdn-msg msg-hidden right">Existing customers only</span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter referee account no.">
                                    <label class="mdn-label">Account No.</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->
                                                
                        <div class="field-group">
                            <textarea class="mdn-textarea" placeholder="Please put your signature here"></textarea>
                            <label class="mdn-label">Referee's Signature</label>
                            <span class="mdn-bar"></span>
                        </div>                         
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Account Details </legend>
                        <div class="form-row">
                            <div class="col col-6">
                            	<div class="mdn-label-pos"><label class="mdn-label">Choice of Account </label></div>
                                <div class="mdn-group mdn-bottom-border">
                                    <label class="mdn-option">
                                        <input type="radio" name="account">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Savings </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="account">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Current </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="account">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Fixed Deposit</span>                                    
                                    </label>
                                </div><!-- mdn-group -->
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                            	<div class="mdn-label-pos"><label class="mdn-label">Mode of Funding </label></div>
                                <div class="mdn-group mdn-bottom-border">
                                    <label class="mdn-option option-tick">
                                        <input type="checkbox" name="funding[]">
                                        <span class="mdn-checkbox"></span> 
                                        <span class="option-label">Cash</span>                                       
                                    </label>
                                    <label class="mdn-option option-tick">
                                        <input type="checkbox" name="funding[]">
                                        <span class="mdn-checkbox"></span> 
                                        <span class="option-label"> Cheque </span>                                  
                                    </label>
                                    <label class="mdn-option option-tick">
                                        <input type="checkbox" name="funding[]">
                                        <span class="mdn-checkbox"></span> 
                                        <span class="option-label"> NEFT </span>                             
                                    </label>
                                </div><!-- mdn-group -->
                            </div><!-- end col-6 --> 
                        </div><!-- end form-row --> 
                        <div class="field-group">
                            <input type="text" class="mdn-input" placeholder="Enter deposit amount">
                            <label class="mdn-label">Initial Deposit Amount </label>
                            <span class="mdn-bar"></span>
                        </div>                                                 
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Individual Details </legend>
                        <div class="mdn-label-pos"><label class="mdn-label">Occupation</label></div>
                        <div class="mdn-group mdn-bottom-border">
                            <label class="mdn-option">
                                <input type="radio" name="occupation">
                                <span class="mdn-radio"></span> 
                                <span class="option-label"> Non-executive </span>                                  
                            </label>
                            <label class="mdn-option">
                                <input type="radio" name="occupation">
                                <span class="mdn-radio"></span> 
                                <span class="option-label"> House wife </span>                                  
                            </label>
                            <label class="mdn-option">
                                <input type="radio" name="occupation">
                                <span class="mdn-radio"></span> 
                                <span class="option-label">Retired</span>                                    
                            </label>
                            <label class="mdn-option">
                                <input type="radio" name="occupation">
                                <span class="mdn-radio"></span> 
                                <span class="option-label"> Student </span>                                  
                            </label>
                            <label class="mdn-option">
                                <input type="radio" name="occupation">
                                <span class="mdn-radio"></span> 
                                <span class="option-label">Unemployed</span>                                    
                            </label> 
                            <label class="mdn-option">
                                <input type="radio" name="occupation">
                                <span class="mdn-radio"></span> 
                                <span class="option-label">Other</span>                                    
                            </label>                                                       
                        </div><!-- mdn-group --> 
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter job title">
                                    <label class="mdn-label">Job Title</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="mdn-group">
                                    <label class="field-group mdn-upload">
                                        <input type="file" class="mdn-file" name="file" id="file" 
                                        onChange="document.getElementById('fileinput').value = this.value;">
                                        <input type="text" class="mdn-input" id="fileinput" placeholder="no file selected" readonly>
                                        <label class="mdn-label">Attach passport photo</label>
                                        <span class="mdn-bar"></span>
                                        <span class="mdn-button btn-primary"> Browse Photo </span>                            
                                  </label>
                                </div><!-- end .mdn-group section -->
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row --> 
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter department">
                                    <label class="mdn-label">Department</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter nature of business">
                                    <label class="mdn-label">Nature of Business</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="mdn-label-pos"><label class="mdn-label">Education</label></div>
                                <div class="mdn-group mdn-bottom-border">
                                    <label class="mdn-option">
                                        <input type="radio" name="education">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Under graduate </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="education">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Graduate </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="education">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label">Others</span>                                    
                                    </label>                                              
                                </div><!-- mdn-group --> 
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="mdn-label-pos"><label class="mdn-label">Monthly Income</label></div>
                                <div class="mdn-group mdn-bottom-border">
                                    <label class="mdn-option">
                                        <input type="radio" name="income">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Zero Income </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="income">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Below $50,000  </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="income">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Above $50,000 </span>                                    
                                    </label>                                              
                                </div><!-- mdn-group --> 
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="mdn-label-pos"><label class="mdn-label">Marital Status</label></div>
                                <div class="mdn-group mdn-bottom-border">
                                    <label class="mdn-option">
                                        <input type="radio" name="status">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Single </span>                                  
                                    </label>
                                    <label class="mdn-option">
                                        <input type="radio" name="status">
                                        <span class="mdn-radio"></span> 
                                        <span class="option-label"> Married  </span>                                  
                                    </label>                                       
                                </div><!-- mdn-group --> 
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter name of your spouse">
                                    <label class="mdn-label">Spouse Name</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->                                                                                                
                                              
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Other Existing Bank Accounts (If Any) </legend>
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter Name of the Bank">
                                    <label class="mdn-label">Name of the Bank</label>
                                    <span class="mdn-bar"></span>
                                </div> 
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter account no.">
                                    <label class="mdn-label">Account No.</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter Name of the Bank">
                                    <label class="mdn-label">Name of the Bank</label>
                                    <span class="mdn-bar"></span>
                                </div> 
                            </div><!-- end col-6 -->                                      
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Enter account no.">
                                    <label class="mdn-label">Account No.</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->                         
                        </div><!-- end form-row -->                                                 
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Reason for Account Opening </legend>
                        <div class="field-group">
                            <textarea class="mdn-textarea" placeholder="Enter reason for account opening"></textarea>
                            <label class="mdn-label">Please specify</label>
                            <span class="mdn-bar"></span>
                        </div>                                                 
                    </fieldset>
                    
                    <fieldset>
                    	<legend> Terms And Conditions </legend>
                        <div class="mdn-label-pos"><label class="mdn-label">Terms &amp; Conditions Agreement</label></div>
                        <div class="mdn-group mdn-bottom-border mdn-auto">
                            <label class="mdn-option option-tick">
                                <input type="checkbox" name="agreement">
                                <span class="mdn-checkbox"></span> 
                                <span class="option-label"> 
                                    I hereby agree to be bound by the terms and conditions and amendments governing this account.
                                </span>                             
                            </label>                                      
                        </div><!-- mdn-group --> 
                    </fieldset>
                    
                     <div class="mdn-footer">
                        <button type="submit" class="mdn-button btn-primary">Submit Application</button>
                        <button type="reset" class="mdn-button">Cancel</button>
                    </div>
                                                                       
            	</form>    
            </div><!-- modern-container -->
        </div><!-- modern-forms -->
    </body>
</html>
