<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Contact Form </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/modernforms.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
    </head>
    <body class="mdn-bg">
        <div class="modern-forms">
        	<div class="modern-container">
                <form>
                    <fieldset>
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group prepend-icon">
                                    <input type="text" class="mdn-input" placeholder="Enter name">
                                    <label class="mdn-label">Name</label>
                                    <span class="mdn-icon"><i class="fa fa-male"></i></span>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group prepend-icon">
                                    <input type="email" class="mdn-input" placeholder="Enter email address">
                                    <label class="mdn-label">Email Address</label>
                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->
                        <div class="field-group prepend-icon">
                            <input type="text" class="mdn-input" placeholder="Enter subject">
                            <label class="mdn-label">Message Subject</label>
                            <span class="mdn-icon"><i class="fa fa-pencil-square"></i></span>
                            <span class="mdn-bar"></span>
                        </div>
                    </fieldset>
                        
                    <fieldset>
                        <div class="field-group">
                            <textarea class="mdn-textarea" placeholder="Enter message details"></textarea>
                            <label class="mdn-label">Your Message</label>
                            <span class="mdn-bar"></span>
                        </div><!-- end mdn-group -->                        
                    </fieldset>
                    
                    <div class="mdn-footer">
                        <button type="submit" class="mdn-button btn-primary">Send Message</button>
                        <button type="reset" class="mdn-button btn-flat">Cancel</button>
                    </div>
                </form>    
            </div><!-- modern-container -->
        </div><!-- modern-forms -->
    </body>
</html>
