<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Login Form Shadow </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/modernforms.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
    </head>
    <body class="mdn-bg">
        <div class="modern-forms">
        	<div class="modern-container mc2 mdn-shadow">
                <form>
                    <fieldset>
                        <div class="field-group prepend-icon">
                            <input type="text" class="mdn-input" placeholder="Enter username">
                            <label class="mdn-label">Username</label>
                            <span class="mdn-icon"><i class="fa fa-male"></i></span>
                            <span class="mdn-bar"></span>
                        </div>
                        <div class="field-group prepend-icon">
                            <input type="email" class="mdn-input" placeholder="Enter password">
                            <label class="mdn-label">Password</label>
                            <span class="mdn-icon"><i class="fa fa-lock"></i></span>
                            <span class="mdn-bar"></span>
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="mdn-group block-group mdn-bottom-border">
                            <label class="mdn-switch">
                                <input type="checkbox" name="remember">
                                <span class="switch-toggle"></span>
                                <span class="switch-label">Keep me logged in</span>
                            </label>                                                            
                        </div><!-- mdn-group -->                
                    </fieldset>                  
                    
                    <div class="mdn-footer">
                        <button type="submit" class="mdn-button btn-primary">Login</button>
                        <button type="reset" class="mdn-button btn-flat">Signup</button>
                    </div>
                </form>    
            </div><!-- modern-container -->
        </div><!-- modern-forms -->
    </body>
</html>
