<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Modern Forms </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/modernforms.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/themes/theme-yellow.css">
    </head>
    <body class="mdn-bg">
        <div class="modern-forms">
        	<div class="modern-container">
                <form>
                    <fieldset>
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Text Input</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group prepend-icon">
                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Email Input</label>
                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group prepend-icon">
                                    <input type="text" class="mdn-input" placeholder="Placeholder" disabled>
                                    <label class="mdn-label">Disabled Input</label>
                                    <span class="mdn-icon"><i class="fa fa-globe"></i></span>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Input Info Text</label>
                                    <span class="mdn-bar"></span>
                                    <span class="mdn-msg right msg-hidden">Info message</span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="search" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Search Input</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="tel" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Telephone Input</label>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="url" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">URL Input</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="password" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Password Input</label>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row --> 
                        
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="number" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Number Input</label>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group mdn-select">
                                    <select name="select">
                                        <option value="">Choose option</option>
                                        <option value="samsung">Samsung</option>
                                        <option value="xiaomi">Xiaomi</option>
                                        <option value="apple">Apple</option>
                                        <option value="nokia">Nokia</option>
                                        <option value="sony">Sony</option>
                                        <option value="lg">LG</option>
                                    </select>
                                    <label class="mdn-label">Select element</label>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group prepend-icon">
                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Input info static</label>
                                    <span class="mdn-icon"><i class="fa fa-globe"></i></span>
                                    <span class="mdn-msg right">50 words</span>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group">
                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Input info on focus </label>
                                    <span class="mdn-msg right msg-hidden">Info message</span>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->                          
                        <div class="form-row">
                            <div class="col col-6">
                                <div class="field-group prepend-icon">
                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                    <label class="mdn-label">Input with icon </label>
                                    <span class="mdn-icon"><i class="fa fa-globe"></i></span>
                                    <span class="mdn-bar"></span>
                                </div>
                            </div><!-- end col-6 -->
                            <div class="col col-6">
                                <div class="field-group mdn-select prepend-icon">
                                    <select name="month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <label class="mdn-label">Select with icon</label>
                                    <span class="mdn-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="mdn-bar"></span>
                                </div>  
                            </div><!-- end col-6 -->
                        </div><!-- end form-row -->
                    </fieldset>
                        
                    <fieldset>
                        <div class="mdn-group">
                            <label class="field-group mdn-upload">
                                <input type="file" class="mdn-file" name="file" id="file" 
                                onChange="document.getElementById('fileinput').value = this.value;">
                                <input type="text" class="mdn-input" id="fileinput" placeholder="no file selected" readonly>
                                <label class="mdn-label">File uploader</label>
                                <span class="mdn-bar"></span>
                                <span class="mdn-button btn-primary"> Choose File </span>                            
                          </label>
                        </div><!-- end .mdn-group section -->
                        <div class="mdn-group">
                            <label class="field-group mdn-upload">
                                <input type="file" class="mdn-file" name="file1" id="file1" 
                                onChange="document.getElementById('fileinput1').value = this.value;" disabled>
                                <input type="text" class="mdn-input" id="fileinput1" placeholder="no file selected" readonly>
                                <label class="mdn-label">Disabled file uploader</label>
                                <span class="mdn-bar"></span>
                                <span class="mdn-button btn-primary"> Choose File </span>                            
                          </label>
                        </div><!-- end .mdn-group section -->                        
                        <div class="field-group">
                            <textarea class="mdn-textarea" placeholder="Enter Comments"></textarea>
                            <label class="mdn-label">Textarea element</label>
                            <span class="mdn-bar"></span>
                        </div><!-- end mdn-group --> 
                        <div class="field-group mdn-select-multiple">
                            <select  name="multiselect" multiple="multiple">
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                <option value="Argentina">Argentina</option>                           
                            </select>
                            <label class="mdn-label">Multiple Select</label>
                            <span class="mdn-bar"></span>
                        </div><!-- end mdn-group -->                                                
                    </fieldset>
                        
                    <fieldset>
                        <div class="mdn-section">
                            <div class="mdn-label-pos block-label"><label class="mdn-label">Block Checkboxes</label></div>
                            <div class="form-row">
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-option">
                                            <input type="checkbox">
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Samsung</span>                                       
                                        </label>
                                        <label class="mdn-option">
                                            <input type="checkbox">
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Huawei</span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="checkbox" checked>
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Apple</span>                             
                                        </label>
                                        <label class="mdn-option">
                                            <input type="checkbox" checked disabled>
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label"> LG </span>                                  
                                        </label>
                                    </div><!-- end .mdn-group section -->
                                </div><!-- end col-4 -->
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-option">
                                            <input type="checkbox">
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Snapdragon</span>                                       
                                        </label>
                                        <label class="mdn-option">
                                            <input type="checkbox">
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">MediaTek</span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="checkbox" checked>
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Hisilicon</span>                             
                                        </label>
                                        <label class="mdn-option">
                                            <input type="checkbox" checked disabled>
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Exynos</span>                                  
                                        </label>
                                    </div><!-- end .mdn-group section -->
                                </div><!-- end col-4 -->
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-option option-tick">
                                            <input type="checkbox">
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Galaxy S7</span>                                       
                                        </label>
                                        <label class="mdn-option option-tick">
                                            <input type="checkbox">
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">Xperia Z6</span>                                  
                                        </label>
                                        <label class="mdn-option option-tick">
                                            <input type="checkbox" checked>
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">iPhone 7</span>                             
                                        </label>
                                        <label class="mdn-option option-tick">
                                            <input type="checkbox" checked disabled>
                                            <span class="mdn-checkbox"></span> 
                                            <span class="option-label">LG G5</span>                                  
                                        </label>
                                    </div><!-- end .mdn-group section -->
                                </div><!-- end col-4 -->                            
                            </div><!-- end form-row -->
                        </div>                           
                    </fieldset>  
                        
                    <fieldset>
                        <div class="mdn-section">
                            <div class="mdn-label-pos block-label"><label class="mdn-label">Block Radios</label></div>
                            <div class="form-row">
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-option">
                                            <input type="radio" name="radio1">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Mastercard </span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio1">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Payoneer </span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio1">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Paypal </span>                                    
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio1" checked disabled>
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Visa </span>                                    
                                        </label>
                                    </div><!-- end .mdn-group section -->
                                </div><!-- end col-4 -->
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-option">
                                            <input type="radio" name="radio2">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Discover </span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio2">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> 2Checkout </span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio2">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Maestro </span>                                    
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio2" checked disabled>
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label">Payza </span>                                    
                                        </label>
                                    </div><!-- end .mdn-group section -->
                                </div><!-- end col-4 -->
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-option">
                                            <input type="radio" name="radio3">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Webmoney </span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio3">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Bitcoin </span>                                  
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio3">
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Skrill </span>                                    
                                        </label>
                                        <label class="mdn-option">
                                            <input type="radio" name="radio3" checked disabled>
                                            <span class="mdn-radio"></span> 
                                            <span class="option-label"> Epay </span>                                    
                                        </label>
                                    </div><!-- end .mdn-group section -->
                                </div><!-- end col-4 -->                            
                            </div><!-- end form-row -->
                        </div>                           
                    </fieldset>  
                        
                    <fieldset>
                        <div class="mdn-section">
                            <div class="mdn-label-pos block-label"><label class="mdn-label">Toggle Switches (Radio + Checkboxes) </label></div>
                            <div class="form-row">
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-switch">
                                            <input type="checkbox" checked>
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Lenovo</span>
                                        </label>
                                        <label class="mdn-switch">
                                            <input type="checkbox">
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Accer</span>
                                        </label>                                        
                                        <label class="mdn-switch">
                                            <input type="checkbox">
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Dell</span>
                                        </label>
                                        <label class="mdn-switch">
                                            <input type="checkbox" disabled>
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">HP</span>
                                        </label>
                                    </div><!-- mdn-group -->
                                </div><!-- end col-4 -->
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-switch morph-switch">
                                            <input type="radio" name="switch" checked>
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Surface Pro</span>
                                        </label>
                                        <label class="mdn-switch morph-switch">
                                            <input type="radio" name="switch">
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">iPad Air</span>
                                        </label>
                                        <label class="mdn-switch morph-switch">
                                            <input type="radio" name="switch">
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Pixel C</span>
                                        </label>                                        
                                        <label class="mdn-switch morph-switch">
                                            <input type="radio" name="switch" disabled>
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Yoga</span>
                                        </label>
                                    </div><!-- mdn-group --> 
                                </div><!-- end col-4 -->
                                <div class="col col-4">
                                    <div class="mdn-group block-group">
                                        <label class="mdn-switch modern-switch">
                                            <input type="radio" name="switchr" checked>
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Macbook Air</span>
                                        </label>
                                        <label class="mdn-switch modern-switch">
                                            <input type="radio" name="switchr">
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">HP Stream</span>
                                        </label>
                                        <label class="mdn-switch modern-switch">
                                            <input type="radio" name="switchr">
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">LG Gram</span>
                                        </label>                                        
                                        <label class="mdn-switch modern-switch">
                                            <input type="radio" name="switchr"disabled>
                                            <span class="switch-toggle"></span>
                                            <span class="switch-label">Dell XPS</span>
                                        </label>
                                    </div><!-- mdn-group -->  
                                </div><!-- end col-4 -->                            
                            </div><!-- end form-row -->
                        </div>                           
                    </fieldset>
                        
                    <fieldset>
                        <div class="mdn-section">
                            <div class="mdn-label-pos block-label"><label class="mdn-label"> Rating Widget </label></div>
                            <div class="form-row">
                                <div class="col col-6">
                                    <div class="mdn-group pad-r">
                                        <div class="mdn-rating">
                                            <span class="mdn-rating-label">Microsoft</span>
                                            <div class="mdn-rating-widget">
                                                <input class="star-i" id="m5" type="radio"  name="microsoft" checked>
                                                <label class="star-l" for="m5"><i class="fa fa-star"></i><span>Excellent</span></label>
                                                <input class="star-i" id="m4" type="radio"  name="microsoft">
                                                <label class="star-l" for="m4"><i class="fa fa-star"></i><span>Good</span></label>
                                                <input class="star-i" id="m3" type="radio"  name="microsoft">
                                                <label class="star-l" for="m3"><i class="fa fa-star"></i><span>Tried</span></label>
                                                <input class="star-i" id="m2" type="radio"  name="microsoft">
                                                <label class="star-l" for="m2"><i class="fa fa-star"></i><span>Fair</span></label>
                                                <input class="star-i" id="m1" type="radio"  name="microsoft">
                                                <label class="star-l" for="m1"><i class="fa fa-star"></i><span>Poor</span></label>
                                            </div>
                                        </div><!-- end rating section -->
                                        <div class="mdn-rating">
                                            <span class="mdn-rating-label">Samsung</span>
                                            <div class="mdn-rating-widget">
                                                <input class="star-i" id="s5" type="radio"  name="samsung">
                                                <label class="star-l" for="s5"><i class="fa fa-star"></i><span>Excellent</span></label>
                                                <input class="star-i" id="s4" type="radio"  name="samsung" checked>
                                                <label class="star-l" for="s4"><i class="fa fa-star"></i><span>Good</span></label>
                                                <input class="star-i" id="s3" type="radio"  name="samsung">
                                                <label class="star-l" for="s3"><i class="fa fa-star"></i><span>Tried</span></label>
                                                <input class="star-i" id="s2" type="radio"  name="samsung">
                                                <label class="star-l" for="s2"><i class="fa fa-star"></i><span>Fair</span></label>
                                                <input class="star-i" id="s1" type="radio"  name="samsung">
                                                <label class="star-l" for="s1"><i class="fa fa-star"></i><span>Poor</span></label>
                                            </div>
                                        </div><!-- end rating section -->
                                        <div class="mdn-rating">
                                            <span class="mdn-rating-label">Google</span>
                                            <div class="mdn-rating-widget">
                                                <input class="star-i" id="g5" type="radio"  name="google">
                                                <label class="star-l" for="g5"><i class="fa fa-star"></i><span>Excellent</span></label>
                                                <input class="star-i" id="g4" type="radio"  name="google">
                                                <label class="star-l" for="g4"><i class="fa fa-star"></i><span>Good</span></label>
                                                <input class="star-i" id="g3" type="radio"  name="google" checked>
                                                <label class="star-l" for="g3"><i class="fa fa-star"></i><span>Tried</span></label>
                                                <input class="star-i" id="g2" type="radio"  name="google">
                                                <label class="star-l" for="g2"><i class="fa fa-star"></i><span>Fair</span></label>
                                                <input class="star-i" id="g1" type="radio"  name="google">
                                                <label class="star-l" for="g1"><i class="fa fa-star"></i><span>Poor</span></label>
                                            </div>
                                        </div><!-- end rating section -->
                                    </div><!-- mdn-group --> 
                                </div><!-- end col-6 -->
                                <div class="col col-6">
                                    <div class="mdn-group pad-l">
                                        <div class="mdn-rating">
                                            <span class="mdn-rating-label">Mozilla</span>
                                            <div class="mdn-rating-widget">
                                                <input class="star-i" id="mo5" type="radio"  name="mozilla">
                                                <label class="star-l" for="mo5"><i class="fa fa-star"></i><span>Excellent</span></label>
                                                <input class="star-i" id="mo4" type="radio"  name="mozilla">
                                                <label class="star-l" for="mo4"><i class="fa fa-star"></i><span>Good</span></label>
                                                <input class="star-i" id="mo3" type="radio"  name="mozilla" checked>
                                                <label class="star-l" for="mo3"><i class="fa fa-star"></i><span>Tried</span></label>
                                                <input class="star-i" id="mo2" type="radio"  name="mozilla">
                                                <label class="star-l" for="mo2"><i class="fa fa-star"></i><span>Fair</span></label>
                                                <input class="star-i" id="mo1" type="radio"  name="mozilla">
                                                <label class="star-l" for="mo1"><i class="fa fa-star"></i><span>Poor</span></label>
                                            </div>
                                        </div><!-- end rating section -->
                                        <div class="mdn-rating">
                                            <span class="mdn-rating-label">Apple</span>
                                            <div class="mdn-rating-widget">
                                                <input class="star-i" id="a5" type="radio"  name="apple">
                                                <label class="star-l" for="a5"><i class="fa fa-star"></i><span>Excellent</span></label>
                                                <input class="star-i" id="a4" type="radio"  name="apple" checked>
                                                <label class="star-l" for="a4"><i class="fa fa-star"></i><span>Good</span></label>
                                                <input class="star-i" id="a3" type="radio"  name="apple">
                                                <label class="star-l" for="a3"><i class="fa fa-star"></i><span>Tried</span></label>
                                                <input class="star-i" id="a2" type="radio"  name="apple">
                                                <label class="star-l" for="a2"><i class="fa fa-star"></i><span>Fair</span></label>
                                                <input class="star-i" id="a1" type="radio"  name="apple">
                                                <label class="star-l" for="a1"><i class="fa fa-star"></i><span>Poor</span></label>
                                            </div>
                                        </div><!-- end rating section -->
                                        <div class="mdn-rating">
                                            <span class="mdn-rating-label">LG</span>
                                            <div class="mdn-rating-widget">
                                                <input class="star-i" id="l5" type="radio"  name="lg" checked>
                                                <label class="star-l" for="l5"><i class="fa fa-star"></i><span>Excellent</span></label>
                                                <input class="star-i" id="l4" type="radio"  name="lg">
                                                <label class="star-l" for="l4"><i class="fa fa-star"></i><span>Good</span></label>
                                                <input class="star-i" id="l3" type="radio"  name="lg">
                                                <label class="star-l" for="l3"><i class="fa fa-star"></i><span>Tried</span></label>
                                                <input class="star-i" id="l2" type="radio"  name="lg">
                                                <label class="star-l" for="l2"><i class="fa fa-star"></i><span>Fair</span></label>
                                                <input class="star-i" id="l1" type="radio"  name="lg">
                                                <label class="star-l" for="l1"><i class="fa fa-star"></i><span>Poor</span></label>
                                            </div>
                                        </div><!-- end rating section --> 
                                    </div><!-- mdn-group -->  
                                </div><!-- end col-6 -->                            
                            </div><!-- end form-row -->
                        </div>                           
                    </fieldset>                      
                        
                    <div class="mdn-footer">
                        <button type="button" class="mdn-button">Basic</button>
                        <button type="button" class="mdn-button btn-flat">Flat</button>
                        <button type="button" class="mdn-button btn-primary">Primary</button>
                        <button type="button" class="mdn-button btn-primary btn-raised">Raised</button>
                        <button type="button" class="mdn-button btn-primary" disabled>Disabled</button>
                    </div>
                </form>    
            </div><!-- modern-container -->
        </div><!-- modern-forms -->
    </body>
</html>
